<!DOCTYPE html>
<html lang="en">
<body>
    <h1>{{H1DATA}}</h1>
    <form action="." method="POST">
        <input type="text" name="text">     
        <select name='qualSelect'>
            <option value='1080'>1080p</option>
            <option value='720'>720p</option>
            <option value='480'>480p</option>
        </select>
        <input type="submit" name="my-form" value="Send">
    </form>
</body>
</html>